{% extends 'base.html' %}
{% block stylesheet %}
    {{ url_for('static', filename='main_page/css/main.css') }}"
{% endblock stylesheet %}

{% block body %}
        {% if current_user.is_authenticated %}
            <div class='to-do-list'>
                <form id='form-list'>
                    <input type='text' id='input-note' required>
                    <button type='submit' id='enter-note'>Enter</button>
                </form>
                <ul id='notes'>
                        {% for note in notes%}
                            <li id="{{note.id}}">
                                {{note.text}}
                            </li>
                            <button onclick="delNote('{{note.id}}')">Delete</button>
                        {% endfor%}
                </ul>
            </div>
        {% else %}
            <p>You should login to get access to notes...</p>
        {% endif %}

        <div class='timer'>
            <div id='ticker-timer'>
                <input id='input-timer' type='text'>
            </div>
            <button id='starter-timer'>Start</button>
            <button id='stopper-timer'>Stop</button>
        </div>
{% endblock body %}

{% block script %}
    {{ url_for('static', filename='main_page/js/main.js') }}
{% endblock script %}