<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Main page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='main_page/css/main.css') }}">
    </head>
    <body>
        <h1>Hellooooooooo!!!!</h1>
        <p class='cool'> 
            Beaten, why for? why for? <br> 
            Can't take much moooreee <br>
            Here we go! Here we go! <br>
            One! Nothing wrong with me! <br>
            Two! Nothing wrong with me! <br>
            Three! Nothing wrong with me! <br>
            Noow! <br>
            Let the body hit the floor! <br>
            Let the body hit the floor! <br>
            <br>
            Ruled by hate, consumed by fear... 
        </p>

        <div class='to-do-list'>
            <form id='form-list'>
                <input type='text' id='input-note' required>
                <button type='submit' id='enter-note'>Enter</button>
            </form>
            <ul id='notes'>
                    {% for data in notes%}
                        <li id="{{data[0]}}">
                            {{data[1].replace('_', ' ')}}
                        </li>
                        <button onclick="delNote('{{data[0]}}')">Delete</button>
                    {% endfor%}
            </ul>
        </div>
        <div class='timer'>
            <div id='ticker-timer'>
                <input id='input-timer' type='text'>
            </div>
            <button id='starter-timer'>Start</button>
            <button id='stopper-timer'>Stop</button>
        </div>
        
        <script src="{{ url_for('static', filename='main_page/js/main.js') }}" async defer></script>
    </body>
</html>