.timer {
    display: inline-block;
    position: absolute;
    margin-top: 10%;
    margin-left: 10%;

}

.to-do-list {
    display: inline-block;
    margin-left: 25%;
    margin-top: 10%;
    overflow-x:hidden;
    width: 25%;
    word-wrap: break-word;
    word-break: break-all;
}

#stopper-timer {
    display:none;
}

#delete-note {
    display:none;
}